*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  body{
    height: 100vh;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .slider{
      width: 50vw;
      height: 50vh;
      /* Small */
      @media (max-width: 767px) {  width: 75vw;  height: 50vh; }
      /* Medium */
      @media (max-width: 991px) {  width: 75vw;  height: 50vh; }

      .slider_container {
        margin: 10px auto;
        min-width: 100%;
        min-height: 100%;
        position: relative;

        .slide_number {
          position: absolute;
          left: 10px;
          top: 10px;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          padding: 5px 10px;
          font-size: 20px;
          z-index: 2;
          border-radius: 6px;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0;
          transition: opacity 1s;
          z-index: 1;
          &.active{ opacity: 1; }
        }
      }  
      
      .slider_controls {
        width: 100%;
        margin: auto;
        overflow: hidden;

        .prev {
          background-color: rgb(65, 225, 217);
          color: #fff;
          font-size: 16px;
          width: 80px;
          text-align: center;
          cursor: pointer;
          padding: 5px;
          user-select: none;
          width: 20%;
          border-radius: 5px;
          float: left;  
          &.disabled{
            background-color: rgba(65, 225, 217, 0.5);
            cursor: no-drop;
          }
        }

        .next {
          background-color: rgb(65, 225, 217);
          color: #fff;
          font-size: 16px;
          width: 80px;
          text-align: center;
          cursor: pointer;
          padding: 5px;
          user-select: none;
          width: 20%;
          border-radius: 5px;
          float: right;
          &.disabled { 
            background-color: rgba(65, 225, 217, 0.5);
            cursor: no-drop;
          }
        }

        .indicators {
          width: 60%;
          float: left;

          ul {
            list-style: none;
            margin: 0;
            text-align: center;

            li {
              display: inline-block;
              background-color: #f6f6f6;
              color: #333;
              font-weight: bold;
              height: 28px;
              width: 28px;
              border-radius: 4px;
              margin: 0 2px;
              line-height: 28px;
              cursor: pointer;
              
              &.active {
                background-color: rgb(65, 225, 217);
                color: #fff;
              }
            }
          }
        }

      }
    }
  }










